#homeContainer {
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.homeHeader {
    background: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav .navItem {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav .navLink:hover {
    background-color: #0056b3;
}